@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	/* If you need dark mode just replace colors in .dark class */
	:root {
		--primary: #130e1d;
		--secondary: #f9f9f9;
		--neutral: #f0f0f0;
	}
	.dark {
		--primary: #130e1d;
		--secondary: #f9f9f9;
		--neutral: #f0f0f0;
	}
	.container {
		@apply !max-w-[1272px];
	}
	body {
		@apply relative bg-[url('../img/global/bg.png')] font-inter text-primary;
	}
	section {
		@apply py-[30px] lg:py-[100px];
	}
	h1 {
		@apply text-4xl font-semibold uppercase leading-[1.07] tracking-[-2px] min-[374px]:text-[41px] md:text-6xl;
	}
	h2 {
		@apply text-[34px] font-semibold leading-[1.05] tracking-[-1px] lg:text-[56px] lg:leading-[1.07];
	}
	h3 {
		@apply text-2xl font-medium lg:text-[32px] lg:leading-normal;
	}
	p {
		@apply text-lg leading-tight;
	}
}

@layer components {
	/* Button */
	.btn {
		@apply inline-flex justify-center rounded-[32px] border border-primary px-10 py-3 text-center text-lg font-semibold leading-normal transition-colors hover:bg-primary hover:text-white;
	}
	.btn-secondary {
		@apply bg-primary text-white  hover:bg-primary/70;
	}
}
